body{
    background-color: powderblue;
}

h1 {
    color: blue;
    border: 5px solid #00aeff
}

h1.sticky{
    position: fixed;
    top: 0;
    background-color: green;
}

h2{
    color: greenyellow;
}
h2.sticky{
    position: absolute;
    top: 0;
    background-color: green;
}

div.sticky{
    position: sticky;
    top: 0;
    background-color: greenyellow;
}

p {
    color: red;
}